<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Rancho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Dancing+Script:wght@600&family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Krub:wght@200&family=Rancho&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Dancing+Script:wght@600&family=Ranchers&family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu" data-z-index="0">
        <div class="logo">BOOKSHOP</div>
        <nav>
            <ul>
                <li><a href="#">GENRES</a>
                    <ul>
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Fantastic</a></li>
                    </ul>
                </li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="#">LOG IN</a></li>
            </ul>
        </nav>
    </div>
    <div class="about-content">
        <img src="/static/images/pictures/about.png" alt="">
        <div class="quote">
            <div class="quote-text">
                " A room without books is like a body without a soul "
            </div>
            <div class="quote-author">
                - Cicero
            </div>
        </div>
        <div class="info1-container">
            <div class="info1">
                <p style="font-family: 'Ranchers', cursive;">
                    Bookshop is an online bookstore with a mission to financially support local,
                    independent bookstores.
                </p>
                <p style="font-family: 'Sansita Swashed', cursive;">
                    We believe that bookstores are essential to a healthy culture.
                    They’re where authors can connect with readers,
                    where we discover new writers, where children get hooked on the thrill
                     of reading that can last a lifetime.
                    They’re also anchors for our downtowns and communities.
                </p>
            </div>
        </div>
        <div class="info2-container">
            <div class="info2">
                <p style="font-family: 'Sansita Swashed', cursive;">
                    Being the best seller in bargain books is about more
                    than providing great selection and fantastic value on
                    new books. As amazing as a bounty of bargain books is,
                    you can also expect an enjoyable shopping experience.
                    Unlike big box retailers, Book Outlet can get a little
                    more personal. We have great systems behind the scenes
                    to make everything seamless and we are still small enough
                    that you can get a live person on the phone when you need
                    it.
                </p>
                <p style="font-family: 'Sansita Swashed', cursive;">
                    When you call during business hours you will speak to a
                    friendly, helpful person (hey, isn’t that a novel idea).
                    If you email, a real person will respond to your inquiry
                    within eight business hours.
                </p>
                <p style="font-family: 'Sansita Swashed', cursive;">
                    Our mission is to make your experience enjoyable and
                    ultimately save you money. When you find yourself with a
                    relatively unscathed wallet and eager to crack open some
                    great new books, we know that you have enjoyed the
                    shopping and the value.
                </p>
            </div>
        </div>
    </div>
    {% include 'include/footer.html' %}
</body>
<script src="/static/js/parallax.js"></script>
<script src="/static/js/appear.js"></script>
</html>
