{% extends 'base.html' %}
{% load book_tag %}
{% load static %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
    <div class="container-parallax">
        <section class="for-book-view"></section>
        <div class="intro">
            <div class="intro-content" style="margin-bottom: 80px">
                <img src="{{ book.image.url }}" alt="" class="intro-img content-part">
                <div class="intro-text content-part">
                    <p><span style="font-weight: bold; position: relative; left: 10px;">{{ book.title }}</span></p>
                    <div class="popup-container">
                        <ul style="list-style: none; position: relative; left: 10px;">
                            <li style="display: inline; margin-right: 30px;">Author: </li>
                            {% for a in book.author.all %}
                                <li style="display: inline;">
                                    <a href="#popup" class="popup-button">{{ a.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="popup" id="popup">
                            <div class="popup-inner">
                                <div class="popup-photo" style="background-image: url({{ book.author.first.image.url }});"></div>
                                <div class="popup-text">
                                    <h2>{{ book.author.first.name }} Biography</h2>
                                    <p>{{ book.author.first.biography }}</p>
                                </div>
                            <a class="popup-close" href="#" style="font-size: 0.95rem">X</a>
                            </div>
                        </div>
                    </div>
                    <ul style="list-style: none; position:relative; left: -30px;">
                            <li style="display: inline; margin-right: 40px;">Genre: </li>
                            {% for g in book.genre.all %}
                                <li style="display: inline; margin-right: 1px; font-size: 0.875rem; font-weight: 599;
                                text-transform: uppercase; background-color: rgb(249, 207, 201);
                                padding: 1rem 2rem; border-radius: 1.5rem;">{{ g.title }}</li>
                            {% endfor %}
                    </ul>
                    <p><span style="position: relative; left: 10px;">Year: {{ book.year }}</span></p>
                    <p><span style="position: relative; left: 10px;">Size: {{ book.size }} pages</span></p>
                    <p><span style="position: relative; left: 10px;">Price: {{ book.price }} $</span></p>
                    <p><span style="position: relative; left: 10px;">Cover type: {{ book.cover }}</span></p>
                    <a href="{% url 'add_to_cart' slug=book.url %}" class="btn btn-color btn-animation-1">Add to Cart</a>
                </div>
                <div class="intro-desc">
                    <p><span style="text-transform: uppercase; font-weight: bold; margin: 380px;">About a book</span></p>
                    <div class="desc-text-container">
                        <p class="desc-text">{{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}