{% extends 'base.html' %}
{% block title %}cart{% endblock title %}
{% load static %}
{% load book_tag %}
{% block content %}
<div class="cart-content">
    <table class="cart-table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <tr></tr>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <div class="product-info">
                            <div class="compact">
                                <img src="{{ item.book.image.url }}" alt="" class="product-image">
                            </div>
                            <div class="product-data compact">
                                <p>{{ item.book.title }}</p>
                                <p>{{ item.book.price }}</p>
                                <p><a href="{% url 'delete_from_cart' slug=item.book.url %}">
                                    <button class="delete-btn">Delete form Cart</button>
                                </a></p>
                            </div>
                        </div>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_total }} $</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="checkout">
        <a href="#"><button class="checkout-btn">Checkout</button></a>
    </div>
</div>
{% endblock content %}
