{% load static %}
<footer>
    <div class="footer-content">
        <div class="footer-section-about">
            <h2 style="text-transform: uppercase;">contacr info</h2>
            <p style="font-size: 30px;">Email - <a href="#">info@bookshop.com</a></p>
            <p style="font-size: 30px;">Location - Slonim City</p>
        </div>
        <div class="footer-content-comment">
            <p class="text1">Read to me</p>
            <p class="text2" style="position: relative; left: 10px;">for the night?</p>
        </div>
        <div class="footer-section-links">
            <h2 style="text-transform: uppercase;">Catch at social</h2>
            <div class="links-wrapper">
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-facebook-f" style="left: 10px;"></i>
                        <span>Facebook</span>
                    </div>
                </div>
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </div>
                </div>
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </div>
                </div>
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-github"></i>
                        <span>Github</span>
                    </div>
                </div>
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                        <span>YouTube</span>
                    </div>
                </div>
                <div class="link-button">
                    <div class="icon">
                        <i class="fab fa-vk"></i>
                        <span>VK</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="annotation">
            <p style="font-size: 20px; font-family: 'Krub', sans-serif;">Coding Project &amp; Designed by KS</p>
        </div>
    </div>
</footer>