{% load static %}
{% load book_tag %}
<div class="menu" data-z-index="0">
    <div class="logo">BOOKSHOP</div>
    <nav>
        <ul>
            <li><a href="#">GENRES</a>
                <ul>
                    {% for genre in view.get_genres %}
                        <li><a href="{% url 'filter' genre.url %}">{{ genre.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="/">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="#">CART</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">LOG OUT</a></li>
            {% else %}
                    <li><a href="{% url 'login' %}">LOG IN</a></li>
            {% endif %}
        </ul>
    </nav>
</div>